#container {
  position: absolute;
  margin: auto;
  width: 800px;
  height: 500px;
  background-color: black;
}

#background {
  position: absolute;
  margin: auto;
  width: 350px;
  height: 350px;
  right: 100px;
  margin-top: 60px;
  background-color: purple;
}

#character {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 350px;
  height: 350px;
}

#glasses {
  position: absolute;
  width: 350px;
  height: 350px;
}

#shoes {
  position: absolute;
  width: 350px;
  height: 350px;
}

#extra {
  position: absolute;
  width: 350px;
  height: 350px;
}

/* GLASSES STYLE */
#glasses-variants {
  position: absolute;
  top: 0%;
  left: 0%;
  margin-left: 100%;
  display: flex;
  transition: all 2000ms;
}

#glasses1 {
  top: 0%;
  width: 350px;
  height: 350px;
}

#glasses2 {
  width: 350px;
  height: 350px;
}

#glasses3 {
  width: 350px;
  height: 350px;
}

#results {
    color: white;
    
}